.posttitle {
	font-weight: 900;
	font-size: 1.5em;
	background-color:#CCC;
	border-radius: 10px;
}

.poster {
	float: left;
	width: 10%;
	background-color:#CCC;
	border-radius: 10px;
}

.postcontent {
	width: 85%;
	float:right;
	padding-left: 5px;
}

.postbody {
	font-style: italic;
	font-size: 1.5em;
	background-color:#CCC;
}

.post {
	border: 1px solid blue;
	font-family: Arial;
	background-color:#ccc;
	clear:both;
	height: 100px;
	border-radius: 10px;
	

}